.estadistica--perfil {
    display: flex;
    width: 50%;
    height: 90px;
    padding-top: 15px;
    margin: 0 auto;
    justify-content: space-around; 
    //border-radius: 20px; ***in mixin
    //background-color: $color-claro; ***in mixin
    //color: $color-primario; ***in mixin
    @include caja;
    h3 {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        //code below replaced by @mixin titulos()
        //text-transform: uppercase;
        //font-family: $Fuente2;
        @include titulos($Fuente2);

    }
    span {
        font-size: 12px;
        text-align: center;
        //code below replaced by @mixin titulos()
        //text-transform: uppercase; 
        //font-family: $Fuente2;
        @include titulos($Fuente2);
    }
} 